@model Bangazon.Models.ProductType

@{
    ViewData["Title"] = "Product Details";
}

<h2>@Html.DisplayFor(model => model.Label)</h2>


@*<h4>ProductType</h4>*@
<hr />
<thead>
    @foreach (var item in Model.Products)
    {
        
            <div class="col-md-3">
                @Html.DisplayNameFor(model => item.Title)
            </div>
            <div class="col-md-7">
                    @Html.DisplayNameFor(model => item.Quantity)
                </div>
                <div class="col-md-2">
                    @Html.DisplayNameFor(model => item.Price)
                </div>
    }
</thead>
<tbody>
    @foreach (var item in Model.Products)
    {
        
            <div class="col-md-3">
                <a asp-action="Details" asp-route-id="@item.ProductId">@Html.DisplayFor(modelItem => item.Title)</a>
            </div>
            <div class="col-md-7">
                @Html.DisplayFor(modelItem => item.Quantity)
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.Price)
            </div>
        
    }
</tbody>

