@model Bangazon.Models.ProductType

@{
    ViewData["Title"] = "Product Details";
}

<h2>@Html.DisplayFor(model => model.Label)</h2>


@*<h4>ProductType</h4>*@
<hr />

    
        @*Meg told me to hard code the titles of the items below, because it is not part of the issue 2.*@
            <div class="col-md-4">
                Title
            </div>
            <div class="col-md-4">
                    Quantity
                </div>
                <div class="col-md-4">
                    Price
                </div>
    

        @*Below, created a for each loop that prints out Title Quantity, and Price from all of the ProductIds available*@
    @foreach (var item in Model.Products)
    {
        
            <div class="col-md-4">
                <a asp-action="Details" asp-route-id="@item.ProductId">@Html.DisplayFor(modelItem => item.Title)</a>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(modelItem => item.Quantity)
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(modelItem => item.Price)
            </div>
        
    }


