@model Bangazon.Models.ProductViewModels.ProductTypeViewModel

@{
    ViewData["Title"] = "Product Types";
}

<h2>Product Types</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
             <a href="@Html.DisplayNameFor(model => model.GroupedProducts)"   ></a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
  @* Foreach loop to go through the GP model and return name and count *@
@foreach (var item in Model.GroupedProducts) {
    // First table row
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            
            <td>
                <strong> @Html.DisplayFor(modelItem => item.ProductCount)</strong>
            </td>
            <p style="display: flex; justify-content:center;">
        </tr>
        // Second table row
        // Foreach loop to loop through the Product list inside of GP model
        <tr>
            @foreach (Product product in item.Products)
            {
                <tr>
                <td>
                    <ul>
                        <li style="display: flex; justify-content:center;"> <a asp-action="Details" asp-route-id="@item.TypeId">   @Html.DisplayFor(modelItem => product.Title)</a> </li>
                    </ul>
                </td>
                    </tr>
            }
        </tr>


}
    </tbody>
</table>
